@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.navbar-brand{
	padding-top:1px;
}

body {
	padding-top: 60px;	
}

#brand-logo-circle {
        margin-top:-175px;
        width:300px;
        height:300px;
}

.current-post-image {
        width:200px;
        height:auto;
        padding-bottom:10px;
}

.past-post-image {
        width:200px;
        height:auto;
        padding-bottom:10px;
}

.post-tag-line {
   margin-top:10px;
   margin-botom:10px;
   padding:5px;
}

footer {
    padding-top:15px;
}

@media print, screen and (max-width: 768px) {
    #splash-content {
        
    }

    #brand-logo-circle {
        margin-top:-155px;
        width:250px;
        height:250px;
    }
}

@media print, screen and (max-width: 480px) {

    #brand-logo-circle {
        margin-top:-100px;
        width:150px;
        height:150px;
    }

    #splash-content {
        padding-top:5px;
        padding-bottom:75px; 
    }
}